<div class="container">
    <h1>Employee Form</h1>
    <form (ngSubmit) = "onSubmit(model)" #employeeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"
          [(ngModel)] = "model.name" name="name">
      </div>
      <div class="form-group">
        <label for="numberOfDays">Number of Days</label>
        <input type="text" class="form-control"
          [(ngModel)] = "model.numberOfDays" name="numberOfDays">
      </div>
      <div class="form-group">
        <label for="vacationMotivation">Vacation Motivation</label>
        <input type="text" class="form-control" id="vacationMotivation"
          [(ngModel)] = "model.vacationMotivation" name="vacationMotivation">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>
    </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Number of Days</div>
    <div class="col-xs-9 pull-left">{{ model.numberOfDays }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Vacation Motivation</div>
    <div class="col-xs-9 pull-left">{{ model.vacationMotivation }}</div>
  </div>
  <br>
</div>
